body{
    user-select: none;
}

#play{
    width:20%;
    height:50%;
    left:37%;
    position:absolute;
    top:33%;

}

#pokelogo{
    width:40%;
    height:500px;
    position:absolute;
   left:27%;
}
#lobby{
    display:none;
    width:100%;
    height:945px;
}

#menu{
    display:none;
    width:10%;
    height:10%;
    z-index: 2;
    position:absolute;
    top:45%;
    left:42%;
    border-style:solid;
    border-color:black;
}

#battle{
    width:100px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
}

#pokemon{
    width:100px;
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
}

#battleback{
    display:none;
    width:100%;
    height:945px;
}

#inf{
    position:absolute;
    top:95%;
    left:45%;
}
#backbutton{
    display:none;
    position:absolute;
    top:2%;
width:5%;
}

#woods{
    display:none;
    width:100%;
    height:945px;
}

#squirtle{
    display:none;
    position:absolute;
    left:15%;
width:10%;
top:2%;
}
#wartortle{
    display:none;
    position:absolute;
    left:34%;
    top:2%;
    width:10%;
}
#blastoise{
    display:none;
    position:absolute;
    left:55%;
    top:2%;
    width:10%;
}
#bulbasaur{
    display:none;
    position:absolute;
    left:15%;
    top:25%;
    width:10%;
}
#ivysaur{
    display:none;
    position:absolute;
    left:35%;
    top:25%;
    width:10%;
}
#venusaur{
    display:none;
    position:absolute;
    left:55%;
    top:25%;
    width:10%;
}
#charmander{
    display:none;
    position:absolute;
    left:15%;
    top:50%;
    width:10%;
}
#charmeleon{
    display:none;
    position:absolute;
    left:35%;
    top:50%;
    width:10%;
}
#charizard{
    display:none;
    position:absolute;
    left:53%;
    top:48%;
    width:13%;
}
#snorlax{
    display:none;
    position:absolute;
    left:78%;
top:1%;   
width:20%;
}
#piplup{
    display:none;
    position:absolute;
    top:72%;
    left:15%;
    width:10%;
}
#prinplup{
    display:none;
    position:absolute;
    top:72%;
    left:35%;
    width:10%;
}
#empoleon{
    display:none;
    position:absolute;
    left:56%;
    top:72%;
    z-index: 2;
    width:10%;
}

#pikachu{
    display:none;
    position:absolute;
    left:80%;
    top:45%;
width:20%;
}

#squirtstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:12%;
    top:20%;
    background-color: beige;
}

#wartstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:28%;
    top:20%;
    background-color: beige;
}

#blaststats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:50%;
    top:20%;
    background-color: beige;
}

#bulbastats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:10%;
    top:43%;
    background-color: beige;
}
#ivystats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:30%;
    top:43%;
    background-color: beige;
}

#venustats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:50%;
    top:43%;
    background-color: beige;
}

#charmanstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:10%;
    top:67%;
    background-color: beige;
}
#charmstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:30%;
    top:67%;
    background-color: beige;
}
#charstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:48%;
    top:69%;
    background-color: beige;
}

#snorstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    position:absolute;
    right:0%;
    top:35%;
    font-weight: bold;
    background-color: beige;
}

#pikastats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:72%;
    top:80%;
    background-color: beige;
}

#pipstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:12%;
    top:90%;
    background-color: beige;
}
#prinstats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    font-weight: bold;
    left:28%;
    top:90%;
    background-color: beige;
}

#empostats{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    position:absolute;
    left:50%;
    top:90%;
    font-weight: bold;
    background-color: beige;
}


